body {
  background-color: #7DE;
}
#topBar {
  height: 30px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
#topBar a {
  color: #DDD;
  text-decoration: none;
}
#topBar a:hover {
  font-weight: bold;
}
#topBar a:active {
  font-weight: bold;
  text-decoration: underline;
}

#content {
  position: relative;
  width: 600px;
  margin: auto;
  display: block;
  text-align: center;
  top: 50px;
}
#contentHeader {
  padding: 10px;
}
#contentBody {
  padding: 20px;
}

.shadow {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}