:javascript
  $("#contentBody").css("text-align", "center");
  $(document).tooltip();

- content_for :content_header do
  List of Call Logs

- content_for :content_body do
  %ul{:style => 'list-style-type: none; margin: 3px; padding: 15px;'}
    - @ahn_log.call_logs.each do |log|
      %li
        %a{:href=> "/call_logs/view/#{log.id}" :title="Start Time: #{log.start_time.strftime '%m/%d/%Y at %I:%M:%S %p'}<br>End Time: #{log.end_time.strftime '%m/%d/%Y at %I:%M:%S %p'}" }
          = log.id.to_s